.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media ( prefers-reduced-motion : no-preference ) {

  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  align-items: center;
  background-color: #282c34;
  color: white;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  justify-content: center;
  min-height: 100vh;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {

  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: black;
  color: white;
  font-family: Fira Code , Segoe UI , Tahoma , Geneva , Verdana , sans-serif;
}

input {
  background-color: black;
  border: 2px solid #ffe64f;
  border-radius: 4px;
  box-sizing: border-box;
  color: #ffe64f;
  margin: 10px 0;
  padding: 8px 20px;
  width: 100%;
}

input::placeholder {
  color: rgba(224, 249, 237, 0.665);
}

.value-fil {
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25em;
  color: black;
  font-size: 1.25rem;
  line-height: 1.1;
  max-width: 7ch;
  min-width: 1ch;
  padding: 0.25em 0.5em;
  width: 100%;
}


button {
  background-color: #0040dd;
  border: #0040dd;
  border-radius: 4px;
  color: white;
  padding: 5px 10px;
}

button:hover {
  background-color: #3b518a;
  color: white;
  cursor: pointer;
}

table {
  overflow-x: auto;
}

thead {
  background-color: #121212;
}

td {
  border-bottom: 1px solid #3f3f3f;
  text-align: center;
}

select {
  background-color: white;
  border: 1px solid black;
  border-radius: 0.25em;
  cursor: pointer;
  font-size: 1.25rem;
  line-height: 1.1;
  max-width: 20ch;
  min-width: 8ch;
  padding: 0.25em 0.5em;
  width: 100%;
}

.logo {
  height: 250px;
  width: 500px;
}
